.main__quotes {
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);

}

.quotes__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 130px;

  .quotes__left-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
    padding-top: 37px;
  }

  .quotes__left-title {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    color: #3D4F9F;
    padding-top: 31px;
  }

  .quotes__left-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #A4ABC8;
    max-width: 323px;
    padding-top: 14px;

  }
}
.quotes__right-slider{
  max-width: 423px;
  min-height: 175px;
  flex-grow: 1;
  min-width: 0;
  .slick-list.draggable{
    height: 212px;
  
  
  }
  
}
.quotes__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 423px;
  min-height: 175px;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #D8E3FE;
  box-shadow: 0px 5px 50px #F3F5FA;
  position: relative;
  min-width: 0;



  &::after {
    content: '';
    background: url('../img/8.quotes/Ellipse\ 2.1.png');
    width: 62px;
    height: 64px;
    position: absolute;
    top: 148px;
  }

  .quotes__right-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #676F95;
    max-width: 283px;
    min-width: 0;
  }

  .quotes__right-img {
    width: 62px;
    height: 62px;
  }
  
  
}
.slick-initialized .slick-slide {
  display: flex;
} 
.quotes__right-slider{
  .slick-dots {
    bottom: -78px;
    

  }
  .slick-dots li {
    margin: 0;

  }
  .slick-dots li button:before {
    font-size: 9px;
  }
    
    
  li.slick-active button:before {
    color: blue;
  }
} 
.slick-slide{
  position: relative;
  z-index: 0;
  
}
// ================================================
@media(max-width:1285px){
  .quotes__inner .quotes__left-subtitle{
    font-size: calc(8px + (10 - 8) * ((100vw - 320px) / (1285 - 320))) ;;
    line-height: calc(10px + (12 - 10) * ((100vw - 320px) / (1285 - 320))) ;;
    padding-top: calc(15px + (37 - 15) * ((100vw - 320px) / (1285 - 320))) ;;
  }
  .quotes__inner .quotes__left-title{
    font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1285 - 320))) ;;
    line-height: calc(33px + (45 - 33) * ((100vw - 320px) / (1285 - 320))) ;;
    padding-top: calc(20px + (31 - 20) * ((100vw - 320px) / (1285 - 320))) ;;
  }
  .quotes__inner .quotes__left-text{
    font-size: calc(10px + (12 - 10) * ((100vw - 320px) / (1285 - 320))) ;;
    line-height: calc(20px + (23 - 20) * ((100vw - 320px) / (1285 - 320))) ;;

  }
  .quotes__right .quotes__right-text {
    font-size: calc(11px + (14 - 11) * ((100vw - 320px) / (1285 - 320))) ;;
    line-height: calc(18px + (24 - 18) * ((100vw - 320px) / (1285 - 320))) ;;
}
}
@media(max-width:800px){
  .quotes__inner{
    flex-direction: column;
    align-items: center;
    padding: 55px 0;
    margin-bottom: 30px;

  }
  .quotes__left{
    text-align: center;
    margin-bottom: 20px;
  }
  .quotes__right .quotes__right-text{
    text-align: center;
  }
  .quotes__right-slider .slick-dots li button:before {
    font-size: calc(7px + (9 - 7) * ((100vw - 320px) / (1285 - 320))) ;;
}
}
